.header {
    position: fixed;
    top: 0;
    right: 0;
    left:0;
    z-index: 99999;
    background-color: var(--navy);
    color: var(--white);
}

.nav {
    display: flex;
    justify-content: space-between;
    height: 56px;
}

.container {
    display: flex;
    flex-flow: row nowrap;
    justify-content: flex-end;
    align-items: center;
    width: 100%;
}

.logo_container {
    margin-right: auto;
}

.logo {
    display: inline-block;
    padding: 1rem 0.75rem 0.5rem 0;
    transition: 0.1s linear;
}

.logo:hover {
    filter:drop-shadow(0 2px 4px rgba(0,0,0,0.4));
    transform: scale(1.1);
}
@supports (scale:1){
    .logo:hover {
        scale: 1.1;
    }
} 

.list_item {
    margin-right: -1rem;
    margin-left: max(0.5rem, 3%);
    padding: 1rem 0;
}

.link {
    position: relative;
    padding: 1rem;
    font-weight: bold;
    color: var(--white-navy-tint);
    transition: 0.2s ease-in-out;
}

.link::after {
    content: '';
    position: absolute;
    display: inline-block;
    left: 1rem;
    bottom: 0.75rem;
    width: 0;
    height: 2px;
    background-color: var(--orange);
    transition: 0.2s ease-in-out;
}
.link:hover, .link:focus {
    color: var(--white);
    filter:drop-shadow(0 2px 4px rgba(0,0,0,0.4));
}
.link:hover::after, .link:focus::after {
    width:calc(100% - 2rem);
}