/*=================================*/
/*____HERO____*/
/*=================================*/
.hero_container {
  background-color: var(--navy);
  background-image: url('../../public/assets/trihextrim.svg'); 
  background-position: bottom 1.5rem right;
  background-repeat: no-repeat;
  background-size: min(200px, 33%);
}
/* small devices landscape and up */
@media screen and (min-width:576px) {
  .hero_container {
    background-size: 25%;
  }
}
/* large devices portrait and up */
@media screen and (min-width:992px) {
  .hero_container {
    background-image: none;
  }
}

.hero{
  padding-top: 5rem;
  padding-bottom: 6rem;
}
/* large devices portrait and up */
@media screen and (min-width:992px){
  .hero {
    display: flex;
  }
}

.hero_text_container { 
  width: 100%;
  padding-bottom: 5rem;
}
/* large devices portrait and up */
@media screen and (min-width:992px){
  .hero_text_container { 
    width: 60%;
  }
}

.hero_title {
  font-size: min(8.25vw, 3.5em);;
}

.hero_description {
  margin-bottom: 3rem;
}

.hero_photo {
  display: none;
  visibility: hidden;
}
/* large devices portrait and up */
@media screen and (min-width:992px){
  .hero_photo {
    position: relative;
    display: inline-block;
    visibility:visible;
    width: 40%;
    background-image: radial-gradient(
      closest-side,
      var(--navy-dark),
      var(--navy)
    );
  }
}

/*=================================*/
/*____WORK____*/
/*=================================*/
.work_container {
  margin-bottom: -6rem;
  padding-top: 5rem;
  padding-bottom: 6rem;
  background-image: url('../../public/assets/trihextrim.svg');
  background-position: bottom 1.5rem right;
  background-repeat: no-repeat;
  background-size: min(200px, 33%);
}
/* tablets and up */
@media screen and (min-width:768px){
  .work_container {
    padding-bottom: 18rem;
    background: transparent;
    overflow: hidden;
  }
}

.work_photo {
  display: none;
  visibility: hidden;
}
/* tablets and up */
@media screen and (min-width:768px){
  .work_photo {
    position: relative;
    left: calc( 
            calc( 
              calc(100vw - var(--max-site-width)) 
              / 2) 
            + 744px
          );
    display: inline-block;
    visibility: visible;
    width: 60vw;
    max-width: 60vw;
    height: calc(100% + 18rem);
    margin-right: -50vw;
    margin-left: -50vw;
  }
}
/* large devices portrait and up */
@media screen and (min-width:992px){
  .work_photo {
    height: calc(100% + 14rem);
  }
}

.project_list {
  display: grid;
  margin-top: 1.5rem;
}
/* tablets and up */
@media screen and (min-width:768px){
  .project_list {
    grid-template-columns: repeat(2, 1fr);
    column-gap: 4%;
    row-gap: 1rem;
  }
}
/* large devices portrait and up */
@media screen and (min-width:992px){
  .project_list {
    grid-template-columns: repeat(3, 1fr);
  }
}

.project_card {
  position: relative;
  width: 100%;
  height: 100%;
  padding: 2rem 0;
  border-radius: 5px;
}

.project_card + .project_card::before {
  content: '';
  position: absolute;
  top: 0.5rem;
  right: -1rem;
  left: -1rem;
  height: 1px; 
  background: var(--navy);
  border-top: 1px solid var(--navy-dark);
  opacity: 0.8;
}
/* tablets and up */
@media screen and (min-width:768px){
  .project_card + .project_card::before {
    display: none;
    visibility: hidden;
  }
}

.project_article {
  height: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: flex-start;
}

.project_tags {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 0.8rem;
  font-weight: lighter;
  color: var(--orange);
}

.project_tag + .project_tag {
  margin-left: 1.5rem;
}

.project_image {
  aspect-ratio: 3/2;
  display: grid;
  place-content: center;
  width: 100%;
  margin: 0 auto;
  transition: all 0.2s ease-in-out;
}

.project_image, .project_image span {
  border-radius: 4px;
}

.project_image_link:hover .project_image, .project_image_link:focus .project_image{
  box-shadow: 
  rgba(0, 0, 0, 0.13) 0px 4px 12px 0px, 
  rgba(0, 0, 0, 0.06) 0px 0px 0px 2px;
  transform: scale(1.02);
  cursor: pointer;
}

.project_title_container {
  display: flex;
  justify-content: flex-start;
  align-items: baseline;
}

.project_title {
  margin-bottom: 0.5rem;
  font-size: 1.5rem;
  transition: 0.2s;
}

.project_title_container svg {
  margin: 1rem 0 0.5rem 0.5rem;
  opacity: 0.6;
  transition: 0.2s;
  width: 2rem;
  height: 1rem;

}

.project_image_link:hover svg, .project_image_link:focus svg {
  opacity: 1;
  scale: 1.05;
  cursor: pointer;
}

.project_link_container {
  position: relative;
  display: flex;
  bottom: 0;
  width: 100%;
  justify-content: space-between;
  align-items: flex-end;
  align-self: flex-end;
}

.project_link {
  position: relative;
  display: inline-block;
  margin-top: 2rem;
  padding-bottom: 0.75rem;
  font-weight: bold;
  text-transform: uppercase;
  letter-spacing: 0.025rem;
  opacity: 0.8;
  transition: 0.2s ease-in-out;
}

.project_link::after {
  content: '';
  position: absolute;
  bottom: 0.3rem;
  left: 0;
  width: 0;
  height: 2px;
  background: var(--orange); 
  transition: 0.2s ease-in-out;
}

.project_link:hover, .project_link:focus {
  opacity: 1;
}
.project_link:hover::after, .project_link:focus::after {
  width: calc(100% - 1rem);
}

.project_source {
  padding: 0 0.75rem 0.375rem;
  opacity: 0.6;
  transition: 0.2s ease-in-out;
  width: 3rem;
}

.project_source:hover, .project_source:focus {
  opacity: 1;
  transform: scale(1.1);
  filter: drop-shadow(  
    rgba(0, 0, 0, 0.13) 0px 4px 12px 0px, 
  rgba(0, 0, 0, 0.06) 0px 0px 0px 2px
  )
}

/*=================================*/
/*____ABOUT____*/
/*=================================*/
.about {
  margin-top: 0;
  padding-top: 5rem;
  padding-bottom: 6rem;
}
/* tablets and up */
@media screen and (min-width:768px){
  .about {
    margin-top: -18rem;
  }
}

.about_me {
  width: 100%;
}
/* tablets and up */
@media screen and (min-width:768px){
  .about_me {
    width: 72%;
  }
}

.about_skills_container {
  display: flex;
  flex-wrap:wrap;
}
/* small devices landscape and up */
@media screen and (min-width:576px){
  .about_skills_container {
    flex-wrap: nowrap;
    gap: 10%;
  }
}

.about_skill {
  flex: 1 1 0;
  margin-top: 2rem
}

.about_subtitle_container { 
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.about_subtitle {
  margin-right: 2rem;
}

.about_list_container {
  display: grid;
  grid: auto / repeat(2, 1fr);
  column-gap: 6%;
}

.about_list_container li::before {
  content:'\2713';
  margin-right:1rem;
}

.head_A {
  grid-column: 1 / span 1 ;
  grid-row: 1 / span 1;
  align-self: end;
}

.head_B {
  grid-column: 2 / span 1 ;
  grid-row: 1 / span 1;
  align-self: end;
}

.list_A {
  grid-column: 1 / span 1 ;
  grid-row: 2 / span 1;
}

.list_B {
  grid-column: 2 / span 1 ;
  grid-row: 2 / span 1;
}
