:root{

    /*____COLORS____*/

    --orange-dark: #e69522;
    --orange: #e6a522;
    --orange-light: #f2d291;
    --orange-lightest: #f9e8c8;

    --navy-dark: #101419;
    --navy: #181d25;
    --navy-light: #202731;
    --navy-lightest: #51637d;
  
    --white: #f9f9f9;
    --white-navy-tint: #b2b6bb;
    --white-orange-tint: #eeebe5;

    /*____SPACING____*/
    --max-site-width: 1488px;
    --mobile-margin: 1.5rem;
}