.container {
    background: var(--navy-dark);
    font-size: 0.75rem;
}

.copyright {
    padding-top: 0.75rem;
    padding-bottom: 0.75rem;
}

.text{
    font-size: inherit;
    text-align: center;
}

.socials {
    display: flex;
    justify-content: space-around;
    width: 100%;
}

.list_item {
    padding: 0.75rem;
}

.link{
    position: relative;
    height: 32px;
    padding: 0.75rem;
    font-size: inherit;    
}

.link::after {
    content:'';
    position:absolute;
    bottom: 0.5rem;
    left: 50%;
    width: 0%;
    height: 1px;
    background-color: var(--orange);
    transition: 0.2s ease-in-out;
}

.link:hover, .link:focus {
    cursor: pointer;
    filter: drop-shadow(0 2px 4px rgba(0,0,0,0.4))
}

.link:hover::after {
    left: 25%;
    width: 50%;
}

/* small devices landscape and up */
@media screen and (min-width:576px){
    .copyright {
        display: flex;
        flex-direction: row-reverse;
        justify-content: space-between;
        align-items: center;
    }

    .link_container {
        display:block;
        justify-content:center;
        align-items: center;
        flex-basis: 268px;
    } 

}