.container {
  display: flex;
  align-items: center;    
}

.line {
  flex: 1 1 0;
  height: 2px;
  max-width: 200px;
  background: var(--orange);
}

.icon_container {
  display: flex;
  width: auto;
  height: auto;
  margin: 0 2.5rem 0 1.25rem;
}

.icon {
  margin: 0 .5rem;
} 



