.container {
  margin-top: 6rem;
}

.title_container {
  display: flex;
  align-items: center;
  gap: 2rem;
}

@media screen and (min-width:768px){
  .link_container {
    display: flex;
    gap: 6%;
  }
}


.link {
  position: relative;
  display: inline-block;
  margin-top: 2rem;
  padding-bottom: 0.75rem;
  font-weight: bold;
  text-transform: uppercase;
  letter-spacing: 0.025rem;
}


.link::after  {
  content: '';
  position: absolute;
  bottom: 0.3rem;
  left: 0;
  width: 0;
  height: 2px;
  background: var(--orange); 
  transition: 0.2s ease-in-out;
}

.link_card {
  position: relative;
  padding: 2rem 0;
  border-radius: 3px;
  transition: 0.2s ease-in-out;
    color: var(--white-navy-tint)
  
}
.link_card + .link_card {
  border-top: 1px solid var(--navy);
}

@media screen and (min-width:768px){
  .link_card + .link_card {
    border-top: none;
  }
}

.link_card{
  z-index: 2;
  flex: 1 1 0;
}
.link_card::before {
  content: '';
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
  width:0;
  /* border: 1px solid var(--navy-light); */
  border-radius: 3px;
  z-index: -1;
  transition: 0.2s ease-in-out;
}
.link_card:hover{
  cursor: pointer;
  filter: drop-shadow(0 2px 4px rgba(0,0,0,0.6));
    color: var(--white);
}
.link_card:hover::before, .link_card:focus::before {
  width: 100%;
  
}

.link_card:hover .link::after, .link_card:focus .link::after {
  width: calc(100% - 1rem);
}
.link_title {
  margin-top: 0;
}