.container {
  margin-top: 6rem;

}
.title_container {
  display: flex;
  align-items: center;
  gap: 2rem;
}

@media screen and (min-width:768px){
  .link_container {
    display: flex;
    gap: 6%;
  }
}


.link {
  position: relative;
  display: inline-block;
  margin-top: 2rem;
  padding-bottom: 0.75rem;
  font-weight: bold;
  text-transform: uppercase;
  letter-spacing: 0.025rem;
}


.link::after  {
  content: '';
  position: absolute;
  bottom: 0.3rem;
  left: 0;
  width: 0;
  height: 2px;
  background: var(--orange); 
  transition: 0.2s ease-in-out;
}

.link_card {
  position: relative;
  padding: 1rem;
  border-radius: 3px;
  transition: 0.2s ease-in-out;
  
}
.link_card + .link_card {
  border-top: 1px solid var(--navy);
}

@media screen and (min-width:768px){
  .link_card + .link_card {
    border-top: none;
    border-left: 1px solid var(--navy);
  }
}

.link_card{
  z-index: 2;
}
.link_card::before {
  content: '';
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
  width:0;
  background: var(--navy-lightest);
  border-radius: 3px;
  z-index: -1;
  transition: 0.2s ease-in-out;
}
.link_card:hover{
  cursor: pointer;
}
.link_card:hover::before, .link_card:focus::before {
  width: 100%;
}

.link_card:hover .link::after, .link_card:focus .link::after {
  width: calc(100% - 1rem);
}
.link_title {
  margin-top: 0;
}